<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @taco.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @taco.type %>
</p>

<p>
  <strong>Tortilla:</strong>
  <%= @taco.tortilla %>
</p>

<p>
  <strong>Cheese:</strong>
  <%= @taco.cheese %>
</p>

<%= link_to 'Edit', edit_taco_path(@taco) %> |
<%= link_to 'Back', tacos_path %>
